<% provide(:title, "Help") %>
<html>
    <body>
        <h1>Help Page</h1>
        <p>For help, contact <a href=mailto:pmengelbert@gmail.com>Peter Engelbert</a> at pmengelbert@gmail.com</p>
    </body>
</html>
